services:
  krosoft-extensions.redis:
    ports:
      - "6377:6379"

  krosoft-extensions.samples.dotnet6.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet6.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6006:5000"

  krosoft-extensions.samples.dotnet7.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet7.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6007:5000"

  krosoft-extensions.samples.dotnet8.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet8.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6008:5000"

  krosoft-extensions.samples.dotnet8.blazorapp:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet8.BlazorApp/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "5008:5000"

  krosoft-extensions.samples.dotnet9.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet9.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6009:5000"

  krosoft-extensions.samples.dotnet10.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet10.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6010:5000"
